.content-wrap {
    display: flex;
    justify-content: row;
}

.content {
    padding: 10px;
}

.user-input {
    width: 100%;
}


.job-submit {
    margin : 10px;
    padding: 10px;
    background-color: #76b900;
    color: white;
    border: none;
    border-radius: 20px;
    min-width: 100px;
    cursor:pointer;
}
